//跑馬燈
.marqueeBox {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background: $backgroundColor_2;
    box-sizing: border-box;
    padding-left: 15px;

    .marquee_ic {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        pre {
            display: inline-block;
            font-size: 13px;
            color: $font-color_1;
            animation: marquee 30s linear 0s infinite;
            padding-left: 100%;
        }

        @keyframes marquee {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}

//登入區
.memberArea {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

    //大登入按鈕
    .loginBtn {
        display: none;
        align-items: center;
        justify-content: center;
        background: $backgroundColor_4;
        width: 37.4vw;
        height: 100%;
        border-radius: 1.5vw 0 0 1.5vw;

        &.display {
            display: flex;
        }

        .login_ic {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: $font-color_2;
        }
    }

    //大登入按鈕登入後樣式
    .alLogin {
        justify-content: center;
        align-items: center;
        padding: 0 1.33vw 0 2vw;
        background: $backgroundColor_4;
        width: 37.4vw;
        height: 100%;
        border-radius: 1.5vw 0 0 1.5vw;
        box-sizing: border-box;
        display: none;

        &.display {
            display: flex;
        }

        ul {
            width: 100%;
            height: auto;

            li {
                display: flex;
                height: 20px;
                align-items: center;
                margin-bottom: 5px;

                &:last-child {
                    margin: 0;
                }

                &.amount {
                    width: auto;
                    max-width: 33.76vw;
                    font-weight: bold;
                    font-size: 1rem;
                    color: $font-color_12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .name {
                    width: auto;
                    max-width: 22.7vw;
                    height: auto;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $font-color_12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .lv {
                    width: auto;
                    height: 20px;
                    padding: 0 5px;
                    background: $linear_3;
                    font-size: .75rem;
                    font-weight: bold;
                    color: $font-color_5;
                    border-radius: 1.5vw;
                    border: solid 1px $borderColor_5;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-left: 5px;
                    white-space: nowrap;
                }
            }
        }
    }

    //轉存提+vip
    .operate {
        background: $backgroundColor_4;
        border-radius: 0 1.5vw 1.5vw 0;
        width: 54.6vw;
        height: 100%;
        display: flex;
        align-items: center;

        .btnBox {
            width: 100%;
            height: 60px;
            border-left: solid 1px $borderColor_1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            box-sizing: border-box;

            button {
                width: 40px;
                height: 40px;
                @include buttonStyle_1;

                &.vipBtn {
                    font-size: 15px;
                }
            }
        }
    }
}

//遊戲區
.homeCenter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 8px;

    //遊戲種類選單
    .gameList {
        width: auto;
        height: 73.7vw;

        li {
            width: 25.6vw;
            height: 11.47vw;
            margin-bottom: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px $borderColor_1;
            border-radius: 1.5vw;
            box-sizing: border-box;

            &:last-child {
                margin: 0;
            }

            &.slotBtn,&.fishBtn {
                
                div {
                    padding: 0 9px 0px 8px;
                }
            }

            &.active {

                div {

                    p {
                        color: $font-color_4;
                    }
                }
            }

            div {
                width: 24vw;
                height: 9.87vw;
                box-sizing: border-box;
                padding: 0 16px 0 11px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 1.5vw;
                border: solid 1px $borderColor_1;
                background: $linear_1;

                p {
                    font-size: 12px;
                    color: $font-color_1;
                }

                i {
                    display: block;
                    width: 6.4vw;
                    height: 6.4vw;

                    &.slot_ic {
                        width: 30px;
                        height: 16px;
                    }

                    &.fish_ic {
                        width: 8vw;
                        height: 4.27vw;
                    }
                }
            }
        }
    }

    //遊戲選擇
    .gameBox {
        flex-wrap: wrap;
        width: 63.3vw;
        height: auto;
        display: none;

        &.display {
            display: flex;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 1px $borderColor_1;
            border-radius: 1.5vw;
            width: 30.4vw;
            height: 23.2vw;
            padding-top: 3px;
            margin: 0 4px 5px 0;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            img {
                border-radius: 1.5vw;
                border: solid 1px $borderColor_1;
            }

            p {
                font-size: 12px;
                color: $font-color_2;
                padding-top: 0.9vw;
            }
        }
    }
}